.navbar {
  width: 100%;
  background-color: #e6fffa;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 70px 10px 70px;

  .navbar-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  .navbar-left {
    display: flex;
    align-items: center;

    .navbar-menu {
      font-size: 24px;
      margin-right: 15px;
      cursor: pointer;
      color: grey;
    }

    .navbar-logo {
      background: url("https://w.ladicdn.com/67a878f79436c00012e3e9fa/logo-20250427065046-roro-removebg-preview-20250427071455-hmuw6.png")
        center center no-repeat;
      background-size: contain;
      height: 40px;
      width: 120px;
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;

    .navbar-contact,
    .navbar-schedule {
      display: flex;
      align-items: center;
      margin-left: 25px;
      font-size: 16px;
      color: #00acc1;
      cursor: pointer;

      svg {
        margin-right: 5px;
      }
    }
  }

  .navbar-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .navbar-options {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      .option-item {
        margin: 0 10px;
        padding: 5px 15px;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        color: #333;
        background: transparent;
        transition: all 0.3s;

        &.active {
          background-color: #ffd600;
          color: #000;
          font-weight: bold;
        }

        .name-item {
          white-space: nowrap;
        }
      }
    }

    .navbar-search {
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 30px;
      padding: 5px 15px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      width: 90%;
      max-width: 500px;
      justify-content: center;

      .search-icon {
        margin-right: 8px;
        font-size: 18px;
        color: #999;
      }

      .search-text {
        border: none;
        outline: none;
        font-size: 14px;
        background: none;
        width: 100%;

        &::placeholder {
          color: #ccc;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 0px 15px 10px 15px;
    .navbar-top {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .navbar-left,
    .navbar-right {
      flex: 0 0 auto;
    }

    .navbar-center {
      margin-top: 15px;
      width: 100%;
    }
  }
}
